*{
    color: #101935;
    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    background: linear-gradient(50deg,#564787,#DBCBD8,#101935);
    height: 100vh;
    padding: 0;
}
main{

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: auto;
    border: 2px;
    border-style: solid;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    overflow: hidden;
    width: 600px;
    height: 700px;
    
}

form{
    padding-right: 0px;
}

button{
    font-size: larger;
    color: #F2FDFF;
    height: 60px;
    width: 60px;
    background-color: #564787;
    border-radius: 25%;
    padding: 10px;
    margin: 5px
    
}

button:hover{
    background-color: #9AD4D6;
    color: #101935;
    cursor: pointer;
}

#indice{
    letter-spacing: 5px;
}

.pendu{
    width: 100px;
    height: 130px;
}

#play_button{
    width: fit-content;
}

#replay{
    height: 45px;
    width: fit-content;
    border-radius: 10px;
}
#player_name{
    color: #0D0221;
}