{% extends 'layout.html' %}

{% block title %}jeu | Jeu du pendu{% endblock %}

{% block content %}
<main>
  <h1>Sonate Pendu</h1>

  {% if vie == 5 %}
  <img class="pendu" src="/static/images/pendu5.png">
{% elif vie == 4 %}
  <img class="pendu" src="/static/images/pendu4.png">
{% elif vie == 3 %}
  <img class="pendu" src="/static/images/pendu3.png">
{% elif vie == 2 %}
  <img class="pendu" src="/static/images/pendu2.png">
{% elif vie == 1 %}
  <img class="pendu" src="/static/images/pendu1.png">
{% elif vie == 0 %}
  <img class="pendu" src="/static/images/pendu0.png">
{% endif %}
  <p id="indice"> {{ indice }}</p>
  <form action="/play" method="post">
  <button type="submit" name="letter" value="a">A</button><button type="submit" name="letter" value="b">B</button><button type="submit" name="letter" value="c">C</button><button type="submit" name="letter" value="d">D</button><button type="submit" name="letter" value="e">E</button><button type="submit" name="letter" value="f">F</button><br>
  <button type="submit" name="letter" value="g">G</button><button type="submit" name="letter" value="h">H</button><button type="submit" name="letter" value="i">I</button><button type="submit" name="letter" value="j">J</button><button type="submit" name="letter" value="k">K</button><button type="submit" name="letter" value="l">L</button><br>
  <button type="submit" name="letter" value="m">M</button><button type="submit" name="letter" value="n">N</button><button type="submit" name="letter" value="o">O</button><button type="submit" name="letter" value="p">P</button><button type="submit" name="letter" value="q">Q</button><button type="submit" name="letter" value="r">R</button><br>
  <button type="submit" name="letter" value="s">S</button><button type="submit" name="letter" value="t">T</button><button type="submit" name="letter" value="u">U</button><button type="submit" name="letter" value="v">V</button><button type="submit" name="letter" value="w">W</button><button type="submit" name="letter" value="x">X</button><br>
  <button type="submit" name="letter" value="y">Y</button><button type="submit" name="letter" value="z">Z</button>
  </form>



</main>

{% endblock %}