{% extends 'layout.html' %}

{% block title %}Accueil | Jeu du pendu{% endblock %}

{% block content %}

  <h1>Pendu</h1>
  <p id="indice"> {{ indice }}</p>
  <form action="/button_click" method="post">
  <button type="submit" name="letter" value="a">A</button><button type="submit" name="letter" value="b">B</button><button type="submit" name="letter" value="c">C</button><button type="submit" name="letter" value="d">D</button><button type="submit" name="letter" value="e">E</button><button type="submit" name="letter" value="f">F</button><br>
  <button type="submit" name="letter" value="g">G</button><button type="submit" name="letter" value="h">H</button><button type="submit" name="letter" value="i">I</button><button type="submit" name="letter" value="j">J</button><button type="submit" name="letter" value="k">K</button><button type="submit" name="letter" value="l">L</button><br>
  <button type="submit" name="letter" value="m">M</button><button type="submit" name="letter" value="n">N</button><button type="submit" name="letter" value="o">O</button><button type="submit" name="letter" value="p">P</button><button type="submit" name="letter" value="q">Q</button><button type="submit" name="letter" value="r">R</button><br>
  <button type="submit" name="letter" value="s">S</button><button type="submit" name="letter" value="t">T</button><button type="submit" name="letter" value="u">U</button><button type="submit" name="letter" value="v">V</button><button type="submit" name="letter" value="w">W</button><button type="submit" name="letter" value="x">X</button><br>
  <button type="submit" name="letter" value="y">Y</button><button type="submit" name="letter" value="z">Z</button>
  </form>


{% endblock %}